Repository Recipe-Web-App/notification-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, python, tests, database, api, scripts, admin

.github/labeler.yml:

# PR Labeler Configuration for notification-service

# Dependencies
dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements.txt
  - requirements*.txt

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*
  - "**/*.rst"

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.json"
  - "**/*.toml"
  - .env.example
  - "*/settings.py"
  - "*/settings/**/*"

# Python source code
python:
  - "**/*.py"
  - notification_service/**/*.py
  - core/**/*.py

# Tests
tests:
  - "**/test_*.py"
  - "**/tests/**/*"
  - "**/*_test.py"

# Database
database:
  - "**/migrations/**/*"
  - "**/models.py"

# API
api:
  - "**/views.py"
  - "**/serializers.py"
  - "**/urls.py"
  - "**/viewsets.py"

# Scripts
scripts:
  - scripts/**/*
  - "**/*.sh"

# Django admin
admin:
  - "**/admin.py"

refactor(redis): updated redis config to support new database (#78)
  .env.example
  k8s/configmap-template.yaml
  notification_service/settings.py
  poetry.lock
Labels: dependencies, configuration, python

ci(renovate): migrated from dependabot to renovate
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependabot-auto-merge.yml
Labels: github, github-actions, configuration

ci(renovate): migrated from dependabot to renovate (#82)
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependabot-auto-merge.yml
Labels: github, github-actions, configuration

chore: removed leftover ingress references in repo
  CLAUDE.md
  README.md
  k8s/gateway-route.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
Labels: documentation, configuration, scripts

chore: removed leftover ingress references in repo (#87)
  CLAUDE.md
  README.md
  k8s/gateway-route.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
Labels: documentation, configuration, scripts

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  AGENTS.md
Labels: documentation, configuration

chore: bd doctor fixes
  .beads/config.yaml
Labels: configuration

Beads integration (#88)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  AGENTS.md
Labels: documentation, configuration

chore: updated claude config
  CLAUDE.md
Labels: documentation

chore: updated claude config (#89)
  CLAUDE.md
Labels: documentation

bd daemon sync: 2026-02-12 18:16:11
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:16:22
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:16:31
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:16:38
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:16:49
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:16:56
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:20:35
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:20:57
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:21:18
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:22:31
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:22:46
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:43:28
  .beads/issues.jsonl
Labels: none

feat(deps): migrate pyproject.toml, lock file, and pre-commit from Poetry to uv
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Labels: dependencies, configuration

bd daemon sync: 2026-02-12 18:56:36
  .beads/issues.jsonl
Labels: none

bd daemon sync: 2026-02-12 18:56:56
  .beads/issues.jsonl
Labels: none

feat(docker): migrate Dockerfile from Poetry to uv
  Dockerfile
Labels: docker

bd daemon sync: 2026-02-12 18:58:13
  .beads/issues.jsonl
Labels: none

feat(ci): migrate CI/CD workflows from Poetry to uv
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/license-check.yml
  .github/workflows/security.yml
Labels: github, github-actions, configuration

bd daemon sync: 2026-02-12 19:04:12
  .beads/issues.jsonl
Labels: none
