Repository Recipe-Web-App/notification-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, python, tests, database, api, scripts, admin

.github/labeler.yml:

# PR Labeler Configuration for notification-service

# Dependencies
dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements.txt
  - requirements*.txt

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*
  - "**/*.rst"

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.json"
  - "**/*.toml"
  - .env.example
  - "*/settings.py"
  - "*/settings/**/*"

# Python source code
python:
  - "**/*.py"
  - notification_service/**/*.py
  - core/**/*.py

# Tests
tests:
  - "**/test_*.py"
  - "**/tests/**/*"
  - "**/*_test.py"

# Database
database:
  - "**/migrations/**/*"
  - "**/models.py"

# API
api:
  - "**/views.py"
  - "**/serializers.py"
  - "**/urls.py"
  - "**/viewsets.py"

# Scripts
scripts:
  - scripts/**/*
  - "**/*.sh"

# Django admin
admin:
  - "**/admin.py"

chore: updated repo & code to ensure open api spec is in sync
  core/schemas/notification/notification_stats.py
  core/urls.py
  core/views.py
  docs/openapi.yaml
Labels: documentation, configuration, python, api

feat(retry-notification): added retry notification endpoint
  core/services/admin_service.py
  core/urls.py
  core/views.py
  docs/openapi.yaml
  tests/component/test_notification_stats_endpoint.py
  tests/component/test_retry_notification_endpoint.py
  tests/unit/test_admin_service.py
Labels: documentation, configuration, python, tests, api

chore: removed tabnine from recommended IDE extensions
  .vscode/extensions.json
Labels: configuration

docs: added claude config file
  CLAUDE.md
Labels: documentation

chore: updated service to ensure alignment with database types
  core/exceptions/downstream_exceptions.py
  core/schemas/notification/mention_request.py
  core/schemas/notification/recipe_commented_request.py
  core/schemas/notification/recipe_liked_request.py
  core/schemas/notification/recipe_published_request.py
  core/schemas/recipe/comment_dto.py
  core/services/downstream/recipe_management_service_client.py
  core/services/recipe_notification_service.py
  core/services/social_notification_service.py
  docs/openapi.yaml
  tests/component/test_mention_endpoint.py
  tests/component/test_recipe_commented_endpoint.py
  tests/component/test_recipe_liked_endpoint.py
  tests/component/test_recipe_published_endpoint.py
  tests/unit/core/services/test_recipe_commented_notification_service.py
  tests/unit/core/services/test_recipe_like_notification_service.py
  tests/unit/core/services/test_recipe_notification_service.py
  tests/unit/core/services/test_social_notification_service.py
Labels: documentation, configuration, python, tests

feat(welcome-notification): added endpoint for welcome notification
  core/schemas/notification/__init__.py
  core/schemas/notification/welcome_request.py
  core/services/system_notification_service.py
  core/urls.py
  core/views.py
  docs/openapi.yaml
  tests/component/test_welcome_endpoint.py
Labels: documentation, configuration, python, tests, api

refactor: restructured schema package & added base schema config
  core/enums/__init__.py
  core/enums/difficulty_level.py
  core/schemas/base_schema_model.py
  core/schemas/health/__init__.py
  core/schemas/health/dependency_health.py
  core/schemas/health/response/__init__.py
  core/schemas/health/response/liveness_response.py
  core/schemas/health/response/readiness_response.py
  core/schemas/notification/__init__.py
  core/schemas/notification/date_range.py
  core/schemas/notification/failed_notifications_breakdown.py
  core/schemas/notification/notification_create.py
  core/schemas/notification/notification_created.py
  core/schemas/notification/notification_detail.py
  core/schemas/notification/notification_list.py
  core/schemas/notification/notification_list_response.py
  core/schemas/notification/notification_stats.py
  core/schemas/notification/request/__init__.py
  core/schemas/notification/request/mention_request.py
  core/schemas/notification/request/new_follower_request.py
  core/schemas/notification/request/password_reset_request.py
  core/schemas/notification/request/recipe_commented_request.py
  core/schemas/notification/request/recipe_liked_request.py
  core/schemas/notification/request/recipe_published_request.py
  core/schemas/notification/request/welcome_request.py
  core/schemas/notification/response/__init__.py
  core/schemas/notification/response/batch_notification_response.py
  core/schemas/notification/response/notification_list_response.py
  core/schemas/notification/response/template_list_response.py
  core/schemas/notification/retry_statistics.py
  core/schemas/notification/status_breakdown.py
  core/schemas/notification/template_info.py
  core/schemas/recipe/comment_dto.py
  core/schemas/recipe/recipe_dto.py
  core/schemas/user/user_base.py
  core/schemas/user/user_detail.py
  core/schemas/user/user_search_result.py
  core/services/health_service.py
Labels: python

chore: removed backup file from repo
  core/constants.py.bak
Labels: none

docs: added new notification endpoints to openapi spec
  docs/openapi.yaml
Labels: documentation, configuration

feat(recipe-shared-notification): implemented recipe shared notification endpoint
  core/schemas/notification/__init__.py
  core/schemas/notification/request/recipe_shared_request.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_shared.html
  tests/component/test_recipe_shared_endpoint.py
  tests/unit/core/services/test_recipe_shared_notification_service.py
Labels: python, tests, api

feat(recipe-collected-notification): implemented recipe collected notification endpoint
  core/exceptions/__init__.py
  core/exceptions/downstream_exceptions.py
  core/exceptions/handlers.py
  core/schemas/notification/__init__.py
  core/schemas/notification/request/recipe_collected_request.py
  core/schemas/recipe/__init__.py
  core/schemas/recipe/collection_dto.py
  core/services/downstream/recipe_management_service_client.py
  core/services/social_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_collected.html
  tests/component/test_recipe_collected_endpoint.py
  tests/unit/core/services/test_recipe_collected_notification_service.py
Labels: python, tests, api

feat(recipe-rated-notification): implemented recipe rated notification endpoint
  core/models/__init__.py
  core/models/review.py
  core/schemas/notification/__init__.py
  core/schemas/notification/request/recipe_rated_request.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_rated.html
  tests/component/test_recipe_rated_endpoint.py
  tests/unit/core/services/test_recipe_rated_notification_service.py
Labels: python, tests, api

feat(recipe-featured-notification): implemented recipe featured notification endpoint
  core/schemas/notification/__init__.py
  core/schemas/notification/request/recipe_featured_request.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_featured.html
  tests/component/test_recipe_featured_endpoint.py
  tests/unit/core/services/test_recipe_featured_notification_service.py
Labels: python, tests, api

feat(recipe-trending-notification): implemented recipe trending notification endpoint
  core/constants/templates.py
  core/schemas/notification/__init__.py
  core/schemas/notification/request/recipe_trending_request.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_trending.html
  tests/component/test_recipe_trending_endpoint.py
  tests/component/test_template_list_endpoint.py
  tests/unit/core/services/test_recipe_trending_notification_service.py
  tests/unit/test_admin_service.py
Labels: python, tests, api

feat(email-changed-notification): implemented email changed notification endpoint
  core/constants/templates.py
  core/schemas/notification/__init__.py
  core/schemas/notification/request/email_changed_request.py
  core/services/system_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/email_changed.html
  tests/component/test_email_changed_endpoint.py
  tests/component/test_template_list_endpoint.py
  tests/unit/core/services/test_email_changed_notification_service.py
  tests/unit/test_admin_service.py
Labels: python, tests, api

feat(password-changed-notification): implemented password changed notification endpoint
  core/constants/templates.py
  core/schemas/notification/__init__.py
  core/schemas/notification/request/password_changed_request.py
  core/services/system_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/password_changed.html
  tests/component/test_password_changed_endpoint.py
  tests/component/test_template_list_endpoint.py
  tests/unit/core/services/test_password_changed_notification_service.py
  tests/unit/test_admin_service.py
Labels: python, tests, api

feat(maintenance-notification): implemented maintenance notification endpoint
  core/constants/templates.py
  core/schemas/notification/__init__.py
  core/schemas/notification/request/maintenance_request.py
  core/services/system_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/maintenance.html
  tests/component/test_maintenance_endpoint.py
  tests/component/test_template_list_endpoint.py
  tests/unit/core/services/test_maintenance_notification_service.py
  tests/unit/test_admin_service.py
Labels: python, tests, api

chore: removed deprecated extension from ide config
  .vscode/extensions.json
Labels: configuration

refactor(share-recipe-notification): refactored recipe-shared to notify both share-recipient & recipe author
  core/config/downstream_urls.py
  core/schemas/notification/__init__.py
  core/schemas/notification/request/share_recipe_request.py
  core/services/downstream/__init__.py
  core/services/downstream/media_management_service_client.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  docs/openapi.yaml
  templates/emails/recipe_author_share_notification.html
  templates/emails/recipe_shared.html
  tests/component/test_share_recipe_endpoint.py
  tests/unit/core/services/test_share_recipe_service.py
Labels: documentation, configuration, python, tests, api

chore: auto updated all pre commit hooks & vulnerable depends
  .pre-commit-config.yaml
  core/models.py
  poetry.lock
Labels: dependencies, configuration, python, database

chore: auto updated all pre commit hooks & vulnerable depends (#60)
  .pre-commit-config.yaml
  core/models.py
  poetry.lock
Labels: dependencies, configuration, python, database

feat(kong): migrated service from ingress nginx to kong gateway
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
Labels: configuration, scripts

refactor(kong): updated service host references to use kong proxy
  CLAUDE.md
  README.md
  notification_service/settings.py
Labels: documentation, configuration, python

Kong migration (#63)
  CLAUDE.md
  README.md
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  notification_service/settings.py
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
Labels: documentation, configuration, python, scripts

docs(notif-endpoints): updated openapi spec with new notification endpoints
  docs/openapi.yaml
Labels: documentation, configuration

chore(notif-endpoints): added types to support new notification schemas
  core/enums/__init__.py
  core/enums/notification.py
  core/models/__init__.py
  core/models/notification.py
  core/models/notification_status.py
  pyproject.toml
Labels: dependencies, configuration, python

chore(notif-endpoints): added schemas for new user notification endpoints
  core/schemas/notification/__init__.py
  core/schemas/notification/request/notification_delete_request.py
  core/schemas/notification/response/user_notification.py
  core/schemas/notification/response/user_notification_count_response.py
  core/schemas/notification/response/user_notification_list_response.py
Labels: python

feat(notif-endpoints): added new service layer for new user notification endpoints
  core/services/__init__.py
  core/services/user_notification_service.py
Labels: python

feat(notif-endpoints): added views & routes for new user notification endpoints
  core/urls.py
  core/views.py
Labels: python, api

refactor(notif-endpoints): refactored existing services to use new database schema
  core/jobs/email_jobs.py
  core/services/__init__.py
  core/services/notification_service.py
  core/services/notification_templates.py
  core/services/recipe_notification_service.py
  core/services/social_notification_service.py
  core/services/system_notification_service.py
Labels: python

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema
  core/schemas/user/__init__.py
  core/schemas/user/user_profile_response.py
  core/services/downstream/user_client.py
  core/services/notification_service.py
  tests/unit/core/services/test_user_client.py
Labels: python, tests

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema (#67)
  core/schemas/user/__init__.py
  core/schemas/user/user_profile_response.py
  core/services/downstream/user_client.py
  core/services/notification_service.py
  tests/unit/core/services/test_user_client.py
Labels: python, tests

test: fixed broken component tests after database refactor
  core/schemas/notification/__init__.py
  core/schemas/notification/notification_delivery_status.py
  core/schemas/notification/notification_detail.py
  core/views.py
  tests/component/test_notification_detail_endpoint.py
Labels: python, tests, api

test: fixed broken component tests after database refactor (#68)
  core/schemas/notification/__init__.py
  core/schemas/notification/notification_delivery_status.py
  core/schemas/notification/notification_detail.py
  core/views.py
  tests/component/test_notification_detail_endpoint.py
Labels: python, tests, api

docs: updated claude.md
  CLAUDE.md
Labels: documentation

docs: updated all outdated docs
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/pull_request_template.md
  README.md
  docs/testing/COMPONENT-TESTING.md
  docs/testing/DEPENDENCY-TESTING.md
  docs/testing/PERFORMANCE-TESTING.md
  docs/testing/TESTING.md
  docs/testing/UNIT-TESTING.md
Labels: documentation, github

Doc update (#72)
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/pull_request_template.md
  CLAUDE.md
  README.md
  docs/testing/COMPONENT-TESTING.md
  docs/testing/DEPENDENCY-TESTING.md
  docs/testing/PERFORMANCE-TESTING.md
  docs/testing/TESTING.md
  docs/testing/UNIT-TESTING.md
Labels: documentation, github

chore: auto updated all pre commit hooks
  .pre-commit-config.yaml
Labels: configuration

chore: auto updated all pre commit hooks (#73)
  .pre-commit-config.yaml
Labels: configuration

refactor(redis): updated redis config to support new database
  .env.example
  k8s/configmap-template.yaml
  notification_service/settings.py
  poetry.lock
Labels: dependencies, configuration, python
