Repository Recipe-Web-App/notification-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, python, tests, database, api, scripts, admin

.github/labeler.yml:

# PR Labeler Configuration for notification-service

# Dependencies
dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements.txt
  - requirements*.txt

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*
  - "**/*.rst"

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.json"
  - "**/*.toml"
  - .env.example
  - "*/settings.py"
  - "*/settings/**/*"

# Python source code
python:
  - "**/*.py"
  - notification_service/**/*.py
  - core/**/*.py

# Tests
tests:
  - "**/test_*.py"
  - "**/tests/**/*"
  - "**/*_test.py"

# Database
database:
  - "**/migrations/**/*"
  - "**/models.py"

# API
api:
  - "**/views.py"
  - "**/serializers.py"
  - "**/urls.py"
  - "**/viewsets.py"

# Scripts
scripts:
  - scripts/**/*
  - "**/*.sh"

# Django admin
admin:
  - "**/admin.py"

docs(test-suite): created documentation with test-suite standards
  docs/testing/COMPONENT-TESTING.md
  docs/testing/DEPENDENCY-TESTING.md
  docs/testing/PERFORMANCE-TESTING.md
  docs/testing/TESTING.md
  docs/testing/UNIT-TESTING.md
Labels: documentation

feat(test-suite): updated project structure to support upcoming test suite
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/run_tests.py
Labels: dependencies, configuration, python, tests

feat(test-suite): implemented infrastructure for test suite
  docker-compose.test.yml
  notification_service/settings_test.py
  pyproject.toml
  tests/base.py
  tests/component/__init__.py
  tests/conftest.py
  tests/dependency/__init__.py
  tests/factories/__init__.py
  tests/fixtures/__init__.py
  tests/performance/__init__.py
  tests/unit/__init__.py
Labels: dependencies, docker, configuration, python, tests

feat(test-suite): implemented test utilities & helpers
  poetry.lock
  pyproject.toml
  tests/component/mocks.py
  tests/factories/__init__.py
  tests/fixtures/sample_notifications.json
  tests/performance/common/__init__.py
Labels: dependencies, configuration, python, tests

feat(test-suite): implemented unit tests
  pyproject.toml
  tests/run_tests.py
  tests/unit/test_app_config.py
  tests/unit/test_health_endpoint.py
  tests/unit/test_infrastructure.py
  tests/unit/test_runner.py
  tests/unit/test_settings.py
  tests/unit/test_urls.py
Labels: dependencies, configuration, python, tests

feat(test-suite): implemented component tests
  tests/component/test_health_endpoint.py
Labels: python, tests

feat(test-suite): implemented dependency tests
  poetry.lock
  pyproject.toml
  tests/dependency/test_health_endpoint.py
Labels: dependencies, configuration, python, tests

feat(test-suite): implemented performance tests
  tests/performance/locustfile_notifications.py
  tests/run_tests.py
Labels: python, tests

fix: fixed poetry lock file
  poetry.lock
Labels: dependencies

feat(deploy): added kubernetes deployment
  .dockerignore
  .env.example
  .gitignore
  .kube-linter.yaml
  .pre-commit-config.yaml
  .pre-commit-setup.md
  Dockerfile
  README.md
  core/urls.py
  core/views.py
  k8s/configmap-template.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
  k8s/networkpolicy.yaml
  k8s/secret-template.yaml
  k8s/service.yaml
  notification_service/settings.py
  notification_service/urls.py
  poetry.lock
  pyproject.toml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/stop-container.sh
  scripts/containerManagement/update-container.sh
  start_server.py
Labels: dependencies, documentation, docker, configuration, python, api, scripts

test: refactored unit tests & fixed code coverage
  tests/component/test_health_endpoint.py
  tests/dependency/test_health_endpoint.py
  tests/performance/locustfile_notifications.py
  tests/unit/core/__init__.py
  tests/unit/core/test_views.py
  tests/unit/notification_service/__init__.py
  tests/unit/notification_service/test_asgi.py
  tests/unit/notification_service/test_wsgi.py
  tests/unit/test_app_config.py
  tests/unit/test_health_endpoint.py
  tests/unit/test_infrastructure.py
  tests/unit/test_run_local.py
  tests/unit/test_runner.py
  tests/unit/test_settings.py
  tests/unit/test_start_server.py
  tests/unit/test_urls.py
Labels: python, tests

feat(database): implemented database & connection polling
  .dockerignore
  .env.example
  .pre-commit-config.yaml
  core/apps.py
  core/enums/__init__.py
  core/enums/health_status.py
  core/management/__init__.py
  core/management/commands/__init__.py
  core/management/commands/runlocal.py
  core/schemas/__init__.py
  core/schemas/health/__init__.py
  core/schemas/health/dependency_health.py
  core/schemas/health/liveness_response.py
  core/schemas/health/readiness_response.py
  core/services/__init__.py
  core/services/database_monitor.py
  core/services/health_service.py
  core/views.py
  notification_service/settings.py
  poetry.lock
  pyproject.toml
  run_local.py
  tests/component/test_health_endpoint.py
  tests/dependency/test_health_endpoint.py
  tests/unit/core/test_views.py
Labels: dependencies, docker, configuration, python, tests, api

chore: added temp directories to gitignore
  .gitignore
Labels: none

feat(database): implemented database models
  .pre-commit-config.yaml
  core/enums/__init__.py
  core/enums/user_role.py
  core/models.py
  core/schemas/__init__.py
  core/schemas/user/__init__.py
  core/schemas/user/user_base.py
  core/schemas/user/user_detail.py
  poetry.lock
  pyproject.toml
  tests/unit/core/test_models.py
Labels: dependencies, configuration, python, tests, database

test(database): fixed broken tests
  tests/unit/test_run_local.py
Labels: python, tests

feat(database): implemented user repository
  core/repositories/__init__.py
  core/repositories/user_repository.py
  pyproject.toml
  tests/unit/core/test_user_repository.py
Labels: dependencies, configuration, python, tests

chore: fixed mypy error in django settings
  notification_service/settings.py
Labels: configuration, python

chore(vs-code): added vs code settings
  .gitignore
  .pre-commit-config.yaml
  .vscode/README.md
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/snippets/django.code-snippets
  .vscode/tasks.json
Labels: documentation, configuration

feat(middleware): added middleware to service
  .env.example
  .pre-commit-config.yaml
  core/constants.py
  core/exceptions/__init__.py
  core/exceptions/handlers.py
  core/logging/__init__.py
  core/logging/context.py
  core/logging/filters.py
  core/middleware/__init__.py
  core/middleware/process_time.py
  core/middleware/rate_limit.py
  core/middleware/request_id.py
  core/middleware/security_headers.py
  core/services/health_service.py
  docker-compose.yml
  k8s/configmap-template.yaml
  k8s/secret-template.yaml
  notification_service/settings.py
  notification_service/settings_test.py
  poetry.lock
  pyproject.toml
  tests/component/middleware/__init__.py
  tests/component/middleware/test_middleware_integration.py
  tests/unit/exceptions/__init__.py
  tests/unit/exceptions/test_handlers.py
  tests/unit/middleware/__init__.py
  tests/unit/middleware/test_process_time.py
  tests/unit/middleware/test_rate_limit.py
  tests/unit/middleware/test_request_id.py
  tests/unit/middleware/test_security_headers.py
Labels: dependencies, docker, configuration, python, tests

fix: fixed poetry lock file
  poetry.lock
Labels: dependencies

feat(logging): implemented enhanced logging config
  .env.example
  .pre-commit-config.yaml
  core/logging/__init__.py
  core/logging/config.py
  core/logging/processors.py
  k8s/configmap-template.yaml
  notification_service/settings.py
  poetry.lock
  pyproject.toml
Labels: dependencies, configuration, python

refactor: implemented support for local & prod env files
  README.md
  k8s/deployment.yaml
  notification_service/settings.py
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Labels: documentation, configuration, python, scripts

feat(oauth2): integrated with auth-service for oauth2
  .env.example
  core/auth/__init__.py
  core/auth/oauth2.py
  core/services/oauth2_client.py
  core/views.py
  k8s/configmap-template.yaml
  k8s/secret-template.yaml
  notification_service/settings.py
  poetry.lock
  pyproject.toml
Labels: dependencies, configuration, python, api

docs(api-spec): implemented api-spec for notification service
  docs/openapi.yaml
Labels: documentation, configuration

feat(downstream): implemented required downstream service interfaces
  core/config/downstream_urls.py
  core/exceptions/__init__.py
  core/exceptions/downstream_exceptions.py
  core/schemas/recipe/__init__.py
  core/schemas/recipe/recipe_dto.py
  core/schemas/user/__init__.py
  core/schemas/user/user_search_result.py
  core/services/downstream/__init__.py
  core/services/downstream/base_downstream_client.py
  core/services/downstream/recipe_client.py
  core/services/downstream/user_client.py
  tests/unit/core/services/test_recipe_client.py
  tests/unit/core/services/test_user_client.py
Labels: python, tests

feat(recipe-notifications): Implemented recipe published notification
  core/config/downstream_urls.py
  core/exceptions/handlers.py
  core/schemas/__init__.py
  core/schemas/notification/__init__.py
  core/schemas/notification/batch_notification_response.py
  core/schemas/notification/notification_detail.py
  core/schemas/notification/recipe_published_request.py
  core/schemas/recipe/recipe_dto.py
  core/schemas/user/user_base.py
  core/schemas/user/user_detail.py
  core/schemas/user/user_search_result.py
  core/services/downstream/__init__.py
  core/services/downstream/recipe_management_service_client.py
  core/services/downstream/user_client.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_published.html
  tests/component/test_recipe_published_endpoint.py
  tests/unit/core/services/test_recipe_management_service_client.py
  tests/unit/core/services/test_recipe_notification_service.py
Labels: python, tests, api

feat(recipe-notifications): Implemented recipe liked notification
  core/schemas/notification/__init__.py
  core/schemas/notification/recipe_liked_request.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_liked.html
  tests/component/test_recipe_liked_endpoint.py
  tests/unit/core/services/test_recipe_like_notification_service.py
Labels: python, tests, api

feat(recipe-notifications): Implemented recipe comment notification
  core/exceptions/__init__.py
  core/exceptions/downstream_exceptions.py
  core/exceptions/handlers.py
  core/schemas/notification/__init__.py
  core/schemas/notification/recipe_commented_request.py
  core/schemas/recipe/__init__.py
  core/schemas/recipe/comment_dto.py
  core/services/downstream/recipe_management_service_client.py
  core/services/recipe_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/recipe_commented.html
  tests/component/test_recipe_commented_endpoint.py
  tests/unit/core/services/test_recipe_commented_notification_service.py
Labels: python, tests, api

test: updated all tests to use unittest instead of pytest
  notification_service/settings_test.py
  osv-scanner.toml
  tests/unit/core/jobs/test_email_jobs.py
  tests/unit/core/services/test_email_service.py
  tests/unit/core/services/test_recipe_commented_notification_service.py
  tests/unit/core/services/test_recipe_like_notification_service.py
  tests/unit/core/services/test_recipe_management_service_client.py
  tests/unit/core/services/test_recipe_notification_service.py
  tests/unit/core/services/test_user_client.py
  tests/unit/core/test_models.py
Labels: configuration, python, tests

feat(social-notifications): implemented new-follower notification
  core/schemas/notification/__init__.py
  core/schemas/notification/new_follower_request.py
  core/services/downstream/recipe_management_service_client.py
  core/services/social_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/new_follower.html
  tests/component/test_new_follower_endpoint.py
  tests/unit/core/services/test_social_notification_service.py
Labels: python, tests, api

feat(social-notifications): implemented mention notification
  core/schemas/notification/__init__.py
  core/schemas/notification/mention_request.py
  core/services/social_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/mention.html
  tests/component/test_mention_endpoint.py
  tests/unit/core/services/test_social_notification_service.py
Labels: python, tests, api

feat(system-notifications): implemented password reset notification
  core/schemas/notification/__init__.py
  core/schemas/notification/password_reset_request.py
  core/services/system_notification_service.py
  core/urls.py
  core/views.py
  templates/emails/password_reset.html
  tests/component/test_password_reset_endpoint.py
Labels: python, tests, api

feat(notification-mgmt): implemented notification management endpoints & security context
  .pre-commit-config.yaml
  core/auth/context.py
  core/exceptions/downstream_exceptions.py
  core/exceptions/handlers.py
  core/middleware/security_context.py
  core/schemas/notification/notification_detail.py
  core/services/notification_service.py
  core/services/recipe_notification_service.py
  core/services/social_notification_service.py
  core/services/system_notification_service.py
  core/urls.py
  core/views.py
  docs/openapi.yaml
  notification_service/settings.py
  notification_service/settings_test.py
  tests/component/test_mention_endpoint.py
  tests/component/test_new_follower_endpoint.py
  tests/component/test_notification_detail_endpoint.py
  tests/component/test_password_reset_endpoint.py
  tests/component/test_recipe_commented_endpoint.py
  tests/component/test_recipe_liked_endpoint.py
  tests/component/test_recipe_published_endpoint.py
  tests/unit/core/services/test_recipe_commented_notification_service.py
  tests/unit/core/services/test_recipe_like_notification_service.py
  tests/unit/core/services/test_recipe_notification_service.py
  tests/unit/core/services/test_social_notification_service.py
Labels: documentation, configuration, python, tests, api

feat(user-notifications): implemented get-my-notifications endpoint
  core/pagination.py
  core/schemas/notification/__init__.py
  core/schemas/notification/notification_list_response.py
  core/services/notification_service.py
  core/urls.py
  core/views.py
  docs/openapi.yaml
  tests/component/test_user_notifications_endpoint.py
  tests/unit/core/services/test_notification_service.py
Labels: documentation, configuration, python, tests, api

refactor: reworked component test to use test database over query mocks
  core/services/notification_service.py
  tests/component/test_user_notifications_endpoint.py
Labels: python, tests

feat(user-notifications): implemented get-user-notifications endpoint
  core/exceptions/handlers.py
  core/services/notification_service.py
  core/urls.py
  core/views.py
  tests/component/test_user_notifications_endpoint.py
  tests/unit/core/services/test_notification_service.py
  tests/unit/exceptions/test_handlers.py
Labels: python, tests, api

feat(admin-endpoints): implemented get stats endpoint
  core/schemas/notification/notification_stats.py
  core/services/admin_service.py
  core/services/notification_service.py
  core/urls.py
  core/views.py
  poetry.lock
  pyproject.toml
  tests/component/test_notification_stats_endpoint.py
  tests/unit/test_admin_service.py
Labels: dependencies, configuration, python, tests, api

feat(admin-endpoints): implemented retry failed notifications endpoints
  core/services/admin_service.py
  core/urls.py
  core/views.py
  docs/openapi.yaml
  tests/component/test_notification_retry_status_endpoint.py
  tests/component/test_retry_failed_notifications_endpoint.py
  tests/unit/test_admin_service.py
Labels: documentation, configuration, python, tests, api

feat(admin-endpoints): implemented get templates endpoint
  core/constants.py.bak
  core/constants/__init__.py
  core/constants/http.py
  core/constants/templates.py
  core/schemas/notification/__init__.py
  core/schemas/notification/template_info.py
  core/services/admin_service.py
  core/urls.py
  core/views.py
  tests/component/test_template_list_endpoint.py
  tests/unit/test_admin_service.py
Labels: python, tests, api

chore: removed deprecated health endpoint
  README.md
  core/urls.py
  core/views.py
  docker-compose.yml
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  tests/component/middleware/test_middleware_integration.py
  tests/component/test_health_endpoint.py
  tests/dependency/test_health_endpoint.py
  tests/performance/locustfile_notifications.py
  tests/unit/core/test_views.py
Labels: documentation, docker, configuration, python, tests, api, scripts
